MYSQL_ROOT_PASSWORD=root_password
MYSQL_PORT=3307

DB_NAME=botica_nova_salud
DB_USER=botica_user
DB_PASSWORD=botica_password

JWT_SECRET=cambia_esta_clave_en_produccion
FRONTEND_URL=http://localhost:8080
VITE_API_URL=/api

BACKEND_PORT=3000
FRONTEND_PORT=8080
